body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background-color: rgb(144, 146, 146);
}
.input_infor {
    height: 97%;
    width: 300px;
    background-color: rgb(237, 249, 250);
    position: fixed;
    padding: 10px;
}

.input_infor > div {
    text-align: center;
    color: white;
    background-color: rgb(23, 144, 196);
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding-top: 10px;
    height: 30px;
    border-radius: 5px;
}
.input_infor input[type=text] {
    width: 100%;
    border: 1px solid rgb(204, 204, 207);
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}
.input_infor .edit_book {
    visibility: hidden;
}
.add_book,
.edit_book {
    background-color: rgb(23, 144, 196);
    color: white;
    height: 25px;
    width: 50px;
    font: bold 1.0rem;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
}
.edit_book {
    background-color: rgb(23, 144, 196);
}
.home {
    height: auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 330px;
    background-color: rgb(237, 249, 250);
}
.home .items {
    text-align: center;
    width: 30%;
    height: 300px;
    margin: 1%;
    margin-left: 1%;
    background-color: rgb(253, 253, 253);
    box-shadow: rgb(144, 146, 146) 0px 4px 10px;
}

.items>img {
    margin-top: 20px;
    margin-bottom: 10px;
}
.items .name,
.price,
.category {
    text-align: start;
    margin-left: 10px;
    padding-top: 5px;
}

.button {
    margin-top: 10px;
    margin-left: 50px;
}

.button .changeBtn,
.deletBtn {
    border-radius: 5px;
    background-color: rgb(15, 142, 216);
    color: white;
    height: 30px;
}
.deletBtn {
    margin-left: 2px;

}
.edit_book {
    margin-left: -55px;
    text-align: center;
    width: 60px;
}

.items>img {
    height: 130px;
}