body {
    margin: 0px;
    display: flex;
    justify-content: center;
}
.wrapper {
    background-color: rgb(245, 248, 248);
}
.input-wrapper {
    height: 97%;
    width: 300px;
    background-color: rgb(237, 249, 250);
    position: fixed;
    padding: 10px;
}

.input-form-wrapper input[type=text] {
    width: 100%;
    border: 1px solid rgb(204, 204, 207);
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
}

.list-wrapper {
    height: auto;
    width: 800px;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    border-radius: 5px;
    background-color: #ffffff;
}
.list-wrapper .grid {
    background-color: rgb(0, 238, 255);
    padding-top: 10px;
    text-align: center;
    height: 35px;
    width: 780px;
    margin: 10px 0 10px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.box {
    box-shadow: 3px 3px 2px 0px rgba(50, 50, 50, 0.5);
}
img {
    width: 120px;
    margin: 10px 20px;
}
.book-infor-wrapper {
    padding: 5px;
}